.root {
    width: 300px;
    height: 600px;
    background-color: #cfd8dc;
    color: #060a0c;
}

.user_icon {
    img {
        width: 100%;
    }
}

.user_name, .user_about {
    margin-top: 20px;
    padding: 0 20px;
    span {
        color: #6b6764;
        margin-right: 20px; 
        text-transform: lowercase;
    }
}