.main.error input {
    margin-top: 20px;
    border: 2px solid white;
}

.main.error span {
    color: white;
}

.error {
    margin-top: 20px;
    color: red;
    font-size: 20px;
    font-weight: 900;
}

.a {
    width: 100%;
    
}